* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}

.tabs-container {
    width: 300px;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}

.tabs {
    display: flex;
}

.tab {
    flex: 1;
    padding: 10px;
    background: #ddd;
    border: none;
    cursor: pointer;
}

.tab.active {
    background: #111;
    color: white;
}

.content {
    padding: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
