.card h3 {
  color: #00ff99;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttons a {
  padding: 8px 12px;
  background: #00ff99;
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
}

.buttons a:hover {
  background: #00cc77;
}