body {
  margin: 0;
  height: 100vh;
  background: #0b0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.todo {
  background: #111;
  padding: 30px;
  width: 280px;
  border-radius: 12px;
  box-shadow: 0 0 18px #00ff99;
  text-align: center;
}

.todo h2 {
  color: #00ff99;
}

.todo input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.todo button {
  padding: 8px 14px;
  background: #00ff99;
  border: none;
  cursor: pointer;
}

.todo ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.todo li {
  color: #aaa;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
