* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: #000000;
    transition: 0.3s;
}

body.dark {
    background: #121212;
    color: #ffffff;
}

.container {
    text-align: center;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
