body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

#navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
}

.hero, .section {
  min-height: 100vh;
  padding: 100px 20px;
  text-align: center;
}

.hidden {
  opacity: 0;
  transform: translateY(40px);
}

.show {
  opacity: 1;
  transform: translateY(0);
  transition: 0.6s;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  background: #111;
  padding: 20px;
}

.hide {
  display: none;
}

/* Mobile */
@media(max-width:768px){
  #navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    background: #111;
    width: 200px;
  }

  #navLinks.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }
}