* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #111;
    color: white;
    border: none;
    cursor: pointer;
}
