body {
  margin: 0;
  background: #0b0b0b;
  font-family: monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #111;
  box-shadow: 0 0 10px #00ff99;
}

.navbar h1 {
  color: #00ff99;
  font-size: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar li {
  color: #aaa;
  cursor: pointer;
}

.navbar li:hover {
  color: #00ff99;
}
